@import url("../../node_modules/bulma/css/bulma.css");

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

#notification {
    position: absolute;
    display: flex;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    &.show {
        animation: success-in 400ms ease-in-out forwards;
    }

    &.hide {
        animation: success-out 400ms ease-in-out forwards;
    }
}

@keyframes success-in {
    0% {
        opacity: 0;
        top: 0;
    }
    5% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        top: 2rem;
    }
}

@keyframes success-out {
    0% {
        opacity: 1;
        top: 2rem;
    }
    5% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 0;
    }
}